@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'fontegta' ;
    src: url('../fonts/Pricedown\ Bl.otf') format('OpenType');
}

:root {
    --fonte_minha: fontegta;
}

@media screen and (max-width: 684px) {
    #video_youtube {
        display: none;
    }
}



body, html {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

   /*  O 100vw pode causar rolagem lateral porque inclui a barra de rolagem vertical no cálculo da largura da tela. */
}

#botao_voltar {
    width: 100px;
    height: 0px;
}

#voltar {
    font-size: 1.5em;
    color: rgb(10, 66, 219);
    font-weight: bolder;
    margin-left: 10px;
    text-decoration: none;
}

#btnTraduzir {
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 3px 2px black;
    font-weight: bolder;
    font-size: 1.2em;

    background: url('../media/brasil_eua.png');
}

#btnTraduzir:hover {
    cursor: pointer;
}

header#cabeçalho{
    width: 100vw;
    height: 600px;

    background: linear-gradient(to top, rgba(79, 59, 173, 0.8) 20%, rgb(252, 143, 202, 1) 80%);
    
    /* background: linear-gradient(to bottom, #c219b4, #FC8FCA); */
    

    display: flex;

    justify-content: center;
    align-items: center;
}

#btnCoração{
    width: 50px;
    height: 50px;
    background: url("../media/coracao.jpg");
    background-size: cover;

    color: black;
    font-size: 0.8em;
    font-weight: bolder;
    text-shadow: 2px 2px 1px rgb(9, 255, 0);
    transition: transform 0.4s;
}

#btnCoração:hover{
    cursor: url("../cursor/cursor_02.cur"), auto;
    transform: translate(-2px, -2px);
}

#coracion {
    width: 200px;
    height: 140px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.coracoes {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

/* Cada coração gerado */
.coração {
    position: absolute;
    font-size: 30px; /* Tamanho do coração */
    color: red; /* Cor do coração */
    opacity: 1;
    transition: transform 1s ease, opacity 1s ease;
}

/* Animação do coração subindo (movendo para cima e desaparecendo) */
.coração.subindo {
    transform: translateY(-100px); /* O coração vai subir */
    opacity: 0; /* O coração vai desaparecer */
}

main {
    width: 100vw;
        
}

#menu{
    width: 70vw;

    padding: 50px;
}

#computador {
    width: 200px;
    height: 14  0px;



 /* Mantém a proporção da imagem */
}



#ola {
    font-family: var(--fonte_minha);
    color: white;
    font-weight: bolder;
    font-size: 2.3em;
    letter-spacing: 2px;
    text-shadow: 4px 2px 3px black;

}

#texto_apresentação{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: bolder;
    text-align: justify;

    line-height: 1.5;
}

#img_01{
    height: 1020px;
    /* background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), transparent, url("../media/uma.jpg")); */
    background-image: linear-gradient(to top, rgba(42, 27, 58, 0.8) 20%, transparent), url("../media/uma.jpg");
    /* Display: Inline-block é uma caixa que se adapta ao tamanho do conteúdo */
    background-position: right center;
    background-size: cover;
    
    /* A propriedade background-attachment: fixed; no CSS define se a imagem de fundo de um elemento rola junto com a página ou permanece fixa. */

}

#img_02 {
    height: 900px;
    background-image: linear-gradient(to bottom, rgba(42, 27, 58, 0.6),  transparent), url(../media/dois.jpg);
    background-size: cover;
    background-position:  center;

}

#centralizar{
    font-size: 1.2em;
    text-indent: 20px;
    padding-top: 50px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}


.imagem p {
    width: 800px;
    margin: 5px 20px 0px 5px;
    padding: 15px;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    line-height: 1.5;
    text-align: justify;

    background-color: rgba(48, 47, 47, 0.322);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.247);
    border-radius: 25px;
    backdrop-filter: blur(20px);

    transition: background-color 0.4s, box-shadow 0.4s, backdrop-filter 0.4s, text-shadow 0.4s, transform 0.4s;
}



#video_youtube {
    left: 0;
    width: 800px;
    height: 200px;
    margin-left: 100px;
}

.imagem p:hover{
    background-color: rgba(129, 127, 127, 0.322);
    box-shadow: 3px 2px 2px rgba(90, 90, 90, 0.247);
    backdrop-filter: blur(30px);
    text-shadow: 2px 1px 1px red;
    transform: translate(10px, 0px);
    
}


#estudos {
    margin: 50px 0px 0px 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    line-height: 1.5;

    display: inline-block;
    background-color: rgba(34, 33, 33, 0.363);
    box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.267);
    backdrop-filter: blur(20px);
    border-radius: 25px;
    border-radius: 25px;
    padding: 20px;
    margin-right: 15px;
     /* Distância para que as bolinhas não fiquem na borda */
    list-style-position: outside; /* Coloca as bolinhas fora do conteúdo */

    transition: background-color 0.4s, backdrop-filter 0.4s, text-shadow 0.4s, transform 2s;
}

#estudos:hover {
    background-color: rgba(0, 0, 0, 0.363);
    backdrop-filter: blur(30px);
    text-shadow: 2px 1px 1px rgb(255, 0, 0);  
}

#estudos:hover li {
    transform: translate(10px, 0); /* Exemplo de movimento para a direita */
    transition: transform 0.4s;
}

#estudos:not(:hover) li{
    transform: translate(0px, 0); /* Exemplo de movimento para a direita */
    transition: transform 0.4s;
}



li {
    margin-bottom: 10px;
}

footer {
    background-color: rgb(196, 192, 192);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(185, 7, 111);
}

body { cursor: url("../cursor/cursor_01.cur"), auto; }